@import url('https://fonts.googleapis.com/css?family=Port%20Lligat%20Slab');

.initialImage {
  width:150px;
}

.pairedImg {
  width:80px;
  border-radius: 50%;
  box-shadow: 3px 3px 8px #000;
  border: 1px solid white;
}

ul {
  display:flex;
  flex-direction:row;
  list-style:none;
  padding: 1em;
  margin: 0 8px 5px 5px;
}

li {
  padding: 0.8em;
}

p {
  text-align:center;
  margin: 0px !important;
  padding-top: .4em;
}

h1 {
  font-family: Port Lligat Slab !important;
  margin: 0px !important;
  font-size: x-large !important;
  letter-spacing: 1px;
}

.backgroundGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index: -1;
  height: 100vh;
  background-color: black;
  overflow:hidden;
}

.backgroundGrid img {
  width:185px;
  height:185px;
}

.grayImg {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.grayImg:hover {
  -webkit-filter: blur(0px);
  opacity:1;
  -webkit-filter: grayscale(30%);
}

.grayImg {
  -webkit-filter: blur(8px);
  opacity:0.5;
}

.generatorPageContainer {
  width:100%;
  display; block;
}

.generator {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 100;
  width: 60%;
  position: fixed;
  top: 15%;
  left: 20%;
  padding: 2em 1em 1em 1em;
  border-radius: 1em;
  box-shadow: 3px 3px 3px tomato;

}

.fullWidthContainer {
  width:100%;
}

.fullWidthContainer p {
  margin-bottom: 1.2em !important;
}

.btn-primary, .btn-primary:visited, .btn-primary:hover, .btn-primary:visited {
  background-color:white !important;
  color:black !important;
  border:2px solid tomato !important;
  margin-bottom: 1em !important;
  padding: 1em !important;
  outline: 1px dashed black !important;
	outline-offset: -5px !important;
}

.returnedPairs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.returnedPairs p {
  font-weight: 400;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: smaller;
}
